@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';

html {
  font-family: 'Pretendard', sans-serif;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: white;
  margin: 12px 0;
}

/* 테두리 스타일 */
.table-wrapper table,
.table-wrapper th,
.table-wrapper td {
  border: 1px solid #e5e7eb;
}

/* 셀 패딩 */
.table-wrapper td,
.table-wrapper th {
  padding: 8px 10px;
  vertical-align: middle;
}

.table-wrapper td,
.table-wrapper th {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* 텍스트 줄바꿈 */
.table-wrapper td p {
  margin: 0;
  line-height: 1.4;
  word-break: break-word;
  white-space: normal !important;
}
/* 긴 숫자/텍스트 wrap */
.table-wrapper td {
  white-space: nowrap;
}

@media (max-width: 480px) {
  .table-wrapper td {
    white-space: normal !important;
  }
}
